<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../public/styles/style.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>

</head>
<body>




<div id="conteiner">
    <%list.forEach((elem)=>{ %>

        <%=elem.name%>
        <select>
            <option>администратор</option>
            <option>пользователь</option>
        </select>
        <select>
            <option>неподтвержденный пользователь</option>
            <option>активный</option>
            <option>заблокированный</option>
        </select>
        <div id=<%=elem.id%> class="but">
            Друзья
        </div>


    <%});%>

</div>



<script src = "/../public/ajax.js"></script>

</body>
</html>